{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
    <div class="row py-3">
        {% for post in posts %}
            <div class="col-lg-12 py-3" onclick="location.href='{% url 'post_show' post_id=post.id %}';"
                 style="cursor: pointer;">
                <div class="card flex-md-row mb-4 shadow-sm">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
                        <h3 class="mb-0">
                            <a class="text-dark" href="{% url 'post_show' post_id=post.id %}">{{ post.title }}</a>
                        </h3>
                        <div class="mb-1 text-muted">{{ post.get_short_date }}</div>
                        <p class="card-text mb-auto"
                           style="font-size: large">{{ post.body | striptags | truncatechars:100 }}</p>
                        <a class="btn btn-outline-primary btn-link" href="{% url 'post_show' post_id=post.id %}">Citește
                            mai departe</a>
                    </div>
                    <img class="card-img-top flex-auto d-none d-md-block"
                         style="width: 300px; height: 235px; border-radius: 0.25rem; object-fit: cover"
                         src="{{ post.imageURL }}">
                </div>
            </div>
        {% endfor %}

        {% if posts.has_other_pages %}
            <nav aria-label="Page navigation example" class="table-responsive">
                <ul class="pagination py-2 col-lg-12 px-3 justify-content-center">
                    <li class="page-item pr-1">
                        <a class="page-link" href="?page=1">&Lang;</a>
                    </li>
                    {% if posts.has_previous %}
                        <li class="page-item pr-1">
                            <a class="page-link" href="?page={{ posts.previous_page_number }}">&lang;</a>
                        </li>
                    {% else %}
                        <li class="disabled page-item pr-1">
                            <span class="page-link">&lang;</span>
                        </li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                        {% if posts.number == i %}
                            <li class="page-item active" style="padding: 0 0.15rem;">
                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% elif i > posts.number|add:'-6' and i < posts.number|add:'6' %}
                            <li class="page-item" style="padding: 0 0.15rem">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li class="page-item pl-1">
                            <a class="page-link" href="?page={{ posts.next_page_number }}">&rang;</a>
                        </li>
                    {% else %}
                        <li class="disabled page-item pl-1">
                            <span class="page-link">&rang;</span>
                        </li>
                    {% endif %}
                    <li class="page-item pl-1">
                        <a class="page-link" href="?page={{ posts.paginator.num_pages }}">&Rang;</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock content %}