{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" id="postForm">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="row">
            <div class="col-md-12 py-2 form-group">
                <label for="id_title">Titlu: </label>
                {{ form.title }}
            </div>
            <div class="col-md-12 py-2 form-group">
                <label for="id_body">Conținut postare: </label>
                {{ form.body }}
            </div>
            <div class="col-md-12 py-2 form-group">
                <label for="id_category">Categorie: </label>
                {{ form.category }}
            </div>
            <div class="col-md-12 pt-2 pb-4 form-group">
                <label for="id_image">Imagine: </label>
                {{ form.image }}
            </div>


            <!--
            <div class="col-md-12 py-2" style="height: 50rem">
{#                <img class="my-image" src="{% static 'images/placeholder.jpg' %}" />#}
            </div>
            -->

            {#            <div class="form-group">#}
            {#                <label for="post-image">Images</label>#}
            {#                <input type="file" name="images" class="form-control-file" id="post-image" multiple>#}
            {#            </div>#}

            {#            {{ form.images }}#}

            {{ formset.management_form }}

            {% for form in formset %}
                <div class="col-md-12 py-2 form-group">
                    {{ form }}
                </div>
            {% endfor %}

            <div class="col-md-12 py-2 form-group">
                <input class="btn btn-outline-success" type="submit" value="Save">
            </div>
        </div>

    </form>

    <div class="col-md-12 py-2">
        <form method="POST" action="" id="addForm">
            {% csrf_token %}
            <label for="extra">Nr. imagini:</label>
            <input type="number" name="extra" id="extra" min="0" value="3" form="addForm">

            <input class="btn btn-outline-success" type="submit" value="Adauga" form="addForm">
        </form>
    </div>

    <img class="my-image" src="{% static 'images/placeholder.jpg' %}" />

    <script>
        document.getElementById('id_title').classList.add('w-100')
        document.getElementById('id_body').classList.add('w-100')
    </script>
{% endblock content %}