{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-12 py-2">
                <label for="id_title">Titlu: </label>
                {{ form.title }}
            </div>
            <div class="col-md-12 py-2">
                <label for="id_body">Conținut postare: </label>
                {{ form.body }}
            </div>
            <div class="col-md-12 py-2">
                <label for="id_category">Categorie: </label>
                {{ form.category }}
            </div>
            <div class="col-md-12 py-2">
                <label for="id_image">Imagine: </label>
                {{ form.image }}
            </div>
            <div class="col-md-12 py-2">
                <input class="btn btn-success" type="submit" value="Save">
            </div>
            <div class="col-md-12 py-2" style="height: 50rem">
                <img class="my-image" src="{% static 'images/placeholder.jpg' %}" />
            </div>
        </div>

    </form>


    <script>
        document.getElementById('id_title').classList.add('w-100')
        document.getElementById('id_body').classList.add('w-100')
    </script>
{% endblock content %}