{% load static %}

<div class="card shadow-lg sidebar-card hoverable" style="cursor: pointer;" onclick="window.open('{{ url }}', '_blank');">
    <div class="row justify-content-center align-items-center">
        <div class="col-3 col-lg-4">
            <a href="{{ url }}" target="_blank">
                <img class="card-img" src="{{ img }}" alt="">
            </a>
        </div>
        <div class="col-6 col-lg-8">
            <div class="card-body p-0">
                <div class="card-text sidebar-card-text">
                    <strong>{{ title | safe }}</strong>
                </div>
            </div>
        </div>
    </div>
</div>