body {
    margin: 0;
}

.frame-square {
    width: 100%;
    padding-top: 75%; /* 4:3 ratio */
    position: relative;
}

.frame-square img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.2rem;
}

.header-top {
    position: relative;
    text-align: center;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 40%;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px #000000;
}

@media (max-width: 767px) {
    .frame-square {
        display: none;
    }

    .header-text {
        left: 50%;
        width: 80%;
        font-size: 0.8rem;
    }
}

