{% load static %}
<header>
    <div class="header-top">

        {% if user.is_authenticated %}
            <div class="form-check ml-2">
                <input type="checkbox" class="form-check-input" id="hide-check" onclick="">
                <label class="form-check-label" for="hide-admin-check">Ascunde butoane admin</label>
            </div>
        {% endif %}

        <div onclick="location.href='{% url 'post_index' %}';" style="cursor: pointer">
            <div class="header-text">
                <p>
                    DIRECȚIA ASISTENȚĂ SOCIALĂ ȘI PROTECȚIE A FAMILIEI LEOVA
                </p>
            </div>

            <img class="header-logo" src="{% static 'images/leova-logo.png' %}" alt="">
        </div>
    </div>

    <!-- Navbar -->
    <div class="header-bottom">
        {% include 'layouts/navbar.html' %}
    </div>
</header>
