{% load static %}
<header>
    {#    <a href="{% url 'index' %}">#}
    <div class="header-top" onclick="location.href='{% url 'post_index' %}';" style="cursor: pointer">
        <div class="header-text">
            <p>
                DIRECȚIA ASISTENȚĂ <br>
                SOCIALĂ ȘI PROTECȚIE <br>
                A FAMILIEI
            </p>
        </div>
        <img class="header-image" src="{% static 'images/family-daspf.jpg' %}" alt="">
        <img class="header-logo" src="{% static 'images/leova-logo.png' %}" alt="">

        {#            <div class="header-image" style="background: url('{% static 'images/leova.jpg' %}') no-repeat" alt="">#}
        {#            </div>#}
        {#            <img class="header-image" src="{% static 'images/leova.jpg' %}" alt="">#}
    </div>
    {#    </a>#}

    <div class="header-bottom">
        {# Navbar #}
        {% include 'layouts/navbar.html' %}
    </div>
</header>
