{% load static %}
{% load social_share %}

<div class="row py-2">

    <div class="col-sm-12 py-3">
        <a href="https://www.facebook.com/daspf.leova.7" title="Facebook" class="btn btn-facebook btn-lg"><i
                class="fab fa-facebook-f"></i> DASPF Leova</a>
    </div>

    <div class="col-sm-12 py-3">
        {% include 'components/sidebar_item.html' with url='http://www.leova.md/' title='Consiliul <br>Raional <br>Leova'  img='/images/leova-logo.png' %}
    </div>

    <div class="col-sm-12 py-3">
        {% include 'components/sidebar_item.html' with url='http://parlament.md' title='Parlamentul <br>Republicii <br>Moldova' img='/images/moldova-stema.svg' %}
    </div>

    <div class="col-sm-12 py-3">
        <div class="card shadow-sm">
            <a href="#">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt=""
                     style="display: block; height: 10rem; width: 100%">
            </a>
            <div class="card-body">
                <div class="card-text">
                    Some text
                </div>
            </div>
        </div>
    </div>
</div>
