{% load static %}
{% load social_share %}

{% load sidebar_elements_data %}
{% get_elements as elements %}

<div class="row py-2">

    <div class="col-sm-12 py-3">
        <a href="https://www.facebook.com/daspf.leova.7" title="Facebook" class="btn btn-facebook btn-lg"><i
                class="fab fa-facebook-f mr-2"></i> DASPF Leova</a>
    </div>

    {% for element in elements %}
        <div class="col-sm-12 py-3">
            {% include 'components/sidebar_item.html' with url=element.url title=element.title  img=element.image %}
        </div>
    {% endfor %}

</div>
