{% load static %}
{% load social_share %}

<div class="row py-2">
    <div class="col-sm-12 py-3">
        <a href="https://www.facebook.com/daspf.leova.7" title="Facebook" class="btn btn-facebook btn-lg"><i
                class="fab fa-facebook-f"></i> DASPF Leova</a>
    </div>
    <div class="col-sm-12 py-3">
        <div class="card shadow-sm sidebar-card" style="cursor: pointer;" onclick="location.href='http://www.leova.md'">
            <div class="row justify-content-center">
                <div class="col-3 col-xl-5">
                    <a href="http://www.leova.md">
                        <img class="card-img" src="{% static 'images/leova-logo.png' %}" alt="">
                    </a>
                </div>
                <div class="col-6 col-xl-7">
                    <div class="card-body">
                        <p class="card-text">
                            <strong>Consiliul <br>Raional <br>Leova</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 py-3">
        <div class="card shadow-sm">
            <a href="#">
                <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}" alt=""
                     style="display: block; height: 10rem; width: 100%">
            </a>
            <div class="card-body">
                <div class="card-text">
                    Some text
                </div>
            </div>
        </div>
    </div>
</div>
