{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
    <form action="{% url 'contacts' %}" method="post" class="border border-dark contact-form p-lg-5 m-lg-5 p-2">
        {% csrf_token %}
        <p class="h4 mb-4">FORMULAR DE CONTACT</p>
        {{ form.as_p }}

        <button type="submit" class="btn btn-outline-info btn-info w-100">Trimite</button>
    </form>

    <script>
        document.getElementById('{{ form.phone.id_for_label }}').classList.add('w-100')
        document.getElementById('{{form.email.id_for_label }}').classList.add('w-100')
    </script>

{% endblock content %}