{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-xl-12 col-xxl-8">
            <form action="{% url 'contacts' %}" method="post" class="border border-dark contact-form p-lg-5 m-lg-5 p-2">
                {% csrf_token %}
                <p class="h4 mb-4">FORMULAR DE CONTACT</p>


                {% for field in form %}
                    <div class="form-group {% if field.field.required %} required {% endif %}">
                        <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn btn-outline-success w-100">Trimite</button>
            </form>
        </div>
        <div class="col-xl-12 col-xxl-4">
            <div class="border border-dark p-lg-5 m-lg-5 p-2 mt-2 px-xxl-1 mx-xxl-1" style="font-size: large">
                <p class="h4 mb-4">Contacte</p>
                <p><i class="fas fa-envelope pr-2"></i> daspf.leova@gmail.com</p>
                <p><i class="fa fa-phone-square pr-2"></i> 0711 11 111</p>
                <p><i class="fa pr-2">☎</i> 0263 92 2 2 - directie</p>
                <p><i class="fa pr-2">☎</i> 0263 92 2 2 - secretariat</p>
                <p><i class="fa pr-2">☎</i> 0263 92 2 2</p>
                <p><i class="fa fa-map-marker pr-2"></i> Strada Independenţei 3, Leova</p>

                <div id="mapid"></div>
            </div>
        </div>
    </div>

    <script>
        $('#{{ form.phone.id_for_label }}').addClass('w-100');
        $('#{{form.email.id_for_label }}').addClass('w-100');

        $('#id_phone').attr({
            'value': '+373',
            'placeholder': 'ex. +373 791 22 333 sau 0263 933 22'
        });
    </script>
{% endblock content %}