{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <form action="." method="POST" class="my-2" enctype="multipart/form-data">

            {% block js %}
                {{ form.media }}
            {% endblock js %}
            <div class="row">
                <div id="cropper"></div>
            </div>

            {% csrf_token %}
            {{ form }}

            <input type="submit" class="btn btn-outline-success btn-success mt-2" value="Salvează">
        </form>
    {% endif %}

    <div class="row pt-4">
        <div class="col-lg-12">
            {{ home.body | safe }}
        </div>
    </div>


{% endblock content %}