@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "media";
@import "header";
@import "social";
@import "right-sidebar";

body {
  margin: 0;
}

#main {
}

.frame-square {
  width: 100%;
  padding-top: 75%; /* 4:3 ratio */
  position: relative;
}

.frame-square img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.2rem;
}


.errorlist {
  color: #ae3737;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a:hover {
  color: white;
  background-image: none;
  background-color: $primary;
}

.dropdown-menu {
  margin-top: -1px;
}

.hoverable {
  transition: all 0.5s ease;
}

.hoverable:hover {
  border-color: $primary;
  box-shadow: -1px 1px 3px 1px $primary !important;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
}