.sidebar-card {

  .card-text {
    font-size: 1.8rem;
  }

  .card-img {
    width: 100%;
    padding: 1rem 0 1rem 1rem;
  }

  @media (max-width: 1600px) {
    .card-text {
      font-size: 1.3rem;
    }
  }

  @media (max-width: 1199px) {
    .card-text{
      font-size: 1rem;
    }
  }

  @media (max-width: 991px) {
    .card-text{
      font-size: 3rem;
    }
  }

  @media (max-width: 767px) {
    .card-text{
      font-size: 5vw;
    }
    .card-img{
      padding: 0;
    }
  }
}
