.btn-facebook {
  background: $primary;
  border-radius: 0;
  color: #fff;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #263961;
}

.btn-facebook:link, .btn-facebook:visited {
  color: #ffffff;
}

.btn-facebook:active, .btn-facebook:hover {
  background: #263961;
  color: #fff;
}