{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'message_index' %}">

        <input class="form-control search-field mr-2" type="search" aria-label="Search" placeholder="Email"
               name="email" value="{% if request.GET.email %}{{ request.GET.email }}{% endif %}">

        <input class="form-control search-field mr-2" type="search" placeholder="Text" aria-label="Search"
               name="text" value="{% if request.GET.text %}{{ request.GET.text }}{% endif %}">

        <select name="status" id="statusSelect" class="custom-select" onchange="this.form.submit()">
            <option value="">Toate</option>
            <option value="N">Nou</option>
            <option value="V">Văzut</option>
            <option value="R">Răspuns</option>
            <option value="S">Soluționat</option>
        </select>

        <button class="btn btn-success btn-md my-2 my-sm-0 ml-lg-2 search-button" type="submit">Caută</button>
    </form>

    <div class="table-responsive mt-2">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>E mail</th>
                <th>Text</th>
                <th>Data</th>
                <th>Status</th>
                <th>Detalii</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <th scope="row">{{ message.id }}</th>
                    <td>{{ message.email }}</td>
                    <td>{{ message.text | truncatechars:50 }}</td>
                    <td>{{ message.get_short_date }}</td>
                    <td>{{ message.get_status }}</td>
                    <td><a class="btn btn-outline-success"
                           href="{% url 'message_show' message_id=message.id %}">Detalli</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $('#statusSelect').val("{{ request.GET.status }}");
    </script>

    {% include 'layouts/paginator.html' with items=messages %}
{% endblock %}
