{% extends 'layouts/main.html' %}
{% load static %}

{% block content %}
    <a class="btn btn-outline-primary" href="{% url 'message_index' %}"><i class="fa fa-arrow-left pr-2"></i> Înapoi</a>
    <form action="{% url 'message_show' message_id=message.id %}" method="post"
          class="border border-dark contact-form p-lg-5 m-lg-5 p-2">
        {% csrf_token %}
        <p class="h4 mb-4">DETALII MESAJ</p>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="NO EMAIL GIVEN" value="{{ message.email }}"
                   readonly>
        </div>
        <div class="form-group">
            <label for="name">Nume</label>
            <input type="text" class="form-control" id="name" placeholder="NO NAME GIVEN" value="{{ message.name }}"
                   readonly>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" class="form-control" id="phone" placeholder="NO PHONE GIVEN" value="{{ message.phone }}"
                   readonly>
        </div>
        <div class="form-group">
            <label for="date">Trimisă la</label>
            <input type="tel" class="form-control" id="date" placeholder="NO PHONE GIVEN"
                   value="{{ message.created_at | date:"d.m.y H:i" }}"
                   readonly>
        </div>
        <div class="form-group">
            <label for="text">Mesaj</label>
            <textarea class="form-control d-inline-block auto-grow" id="text" readonly>{{ message.text }}</textarea>
        </div>
        <div class="form-group">
            <label for="{{ form.response.auto_id }}">Răspuns</label>
            {{ form.response }}
        </div>

        <div class="form-group">
            <label for="{{ form.status.auto_id }}">Status</label>
            {{ form.status }}
        </div>
        <div class="form-group">
            <label for="updated_at">Ultima modificare:</label>
            <input type="text" class="form-control" id="updated_at" placeholder="NO DATE GIVEN"
                   value="{{ message.get_update_date }}"
                   readonly>
        </div>

        <button type="submit" class="btn btn-outline-success w-100">Modifică status</button>
    </form>
{% endblock %}